body{
    padding:5px;
    background-color: dimgray;
    text-align: center;
}
section{
    text-align: center;
    background: linear-gradient(to left,  #30f06d 50%, #64d983 50%);
    padding: 100px;
    
}
#face{
    border-radius: 60px;
}
h1{
    font-family: ;
    letter-spacing: 3;
    line-height: 1;
    font-size:60px;
    
    text-shadow: 2px 3px 3px #216633;
    font-family: 'Bungee Inline', cursive;
    
    }
p{
    font-size: 30px;
    font-family: cursive;
    letter-spacing: 1;
    text-shadow: 2px 3px 3px #216633;       }
h2{
    font-family: 'Bungee Inline', cursive;
    letter-spacing: 3;
    line-height: 1;
    font-size:50px;
    text-shadow: 2px 3px 3px #216633;
}
.menu{
    list-style:none;
    font-family: cursive;
    position:absolute;
    top:10px;
    cursor:pointer;
    right:300px;
    
}
.link{
    float: left;
    color: #a83971;
    font-family: cursive;
    padding:10px;
    font-size:30px;
    word-spacing: 1000px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-right: 30px;
    
}

.link:hover{
    font-size: 35px;
    color:yellow;
    box-shadow: 4px 5px 4px 3px #f74545;
    border-radius:20px;
